{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
 /**
  * AEI plugin for Craft CMS 3.x
  *
  * AEI Deltek Import index
  *
  * @author    Firebelly Design
  * @copyright Copyright (c) 2018 Firebelly Design
  * @link      https://www.firebellydesign.com/
  * @package   AEI
  * @since     1.0.0
  */
 #}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("firebelly\\aei\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# The title of this CP section #}
{% set title = "AEI" %}

{# Content that should appear in the page header#}
{% block actionButton %}
    <div class="buttons">
        <a href="{{ url('aei/logs') }}" class="btn submit">{{ "View Logs"|t('aei') }}</a>
        <a href="/admin/settings/plugins/aei" class="btn submit">{{ "Settings"|t('aei') }}</a>
        {# <a href="/admin/utilities/asset-indexes" class="btn submit">{{ "Asset Indexes"|t('aei') }}</a> #}
    </div>
{% endblock %}

{# The content of the CP Section#}
{% block content %}
    <h2>{{ "Deltek Import"|t('aei') }}</h2>
    <p class="textline">This runs frequently as an automated cronjob, but you can also run it manually here.</p>
    <form method="post" id="deltek-import-form" action="/admin/actions/aei/deltek-import/import-records">
        {{ csrfInput() }}
        <div class="field">
          <ul>
              {% for section in craft.app.getModule('aei').getDeltekSections() %}
                  <li>
                      {% include "_includes/forms/checkbox" with {
                          name:      'sections-to-import[]',
                          value:     section|lower,
                          checked:   false,
                          label:     section,
                      } %}
                  </li>
              {% endfor %}
          </ul>
        </div>
        <div class="field">
          <div class="heading">
            <label>Matching IDs</label>
            <div class="instructions">
              <p>Optionally pass in comma-delimited <code>project_num, employee_num, impact_key,</code> or <code>office_name</code> values to only import items that match those Deltek IDs:</p>
            </div>
          </div>
          <div class="input ltr">
            <input type="text" name="deltek-ids" size="50" placeholder="e.g. 08658-01, 07177-00">
          </div>
        </div>
        <div class="field">
          <div class="heading">
            <label><input type="checkbox" name="import-mode" value="refresh"> Refresh From Deltek</label>
            <div class="instructions">
              <p>If checked, will add new media blocks for existing unpublished (or drafts of) projects & impact posts, and update body fields for impact, people & offices</p>
            </div>
          </div>
        </div>

        <div class="info-output"><p><div id="graphic" class="spinner"></div> Importing... (be patient, can take a while)</p></div>
        <div class="progressbar hidden"><div class="progressbar-inner"></div></div>
        <div class="log-output hidden"></div>
        <p class="submit"><input type="submit" class="btn submit" name="submit" value="Run Importer"></p>
    </form>
{% endblock %}
