{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * AEI index.twig
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("firebelly\\aei\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# The title of this CP section #}
{% set title = "AEI" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('aei') %}

{# Content that should appear in the page header#}
{% block actionButton %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit">{{ "View Logs"|t('aei') }}</a>
        <a href="{{ pluginCpUrl }}" class="btn submit">{{ "Settings"|t('aei') }}</a>
    </div>
{% endblock %}

{# The content of the CP Section#}
{% block content %}
    <h2>{{ "Deltek Import"|t('aei') }}</h2>
    <p class="textline">This runs every night as an automated cronjob, but you can also run it manually here.</p>
    <form method="post" id="deltek-import-form" action="/admin/actions/aei/deltek-import/import-records">
        {{ csrfInput() }}
        <ul>
            {% for section in ['Awards', 'Projects', 'People', 'Offices', 'Impact'] %}
                <li>
                    {% include "_includes/forms/checkbox" with {
                        name:      'sections-to-import[]',
                        value:     section|lower,
                        checked:   false,
                        label:     section,
                    } %}
                </li>
            {% endfor %}
        </ul>
        <p>Optionally pass in comma-delineated <code>project_num, employee_num, impact_key,</code> or <code>office_name</code> values to only import items that match those Deltek IDs:</p>
        <p><input type="text" name="deltek-ids" size="50"></p>

        <div class="info-output"><p><div id="graphic" class="spinner"></div> Importing... (be patient, can take a while)</p></div>
        <div class="progressbar hidden"><div class="progressbar-inner"></div></div>
        <div class="log-output hidden"></div>
        <p class="submit"><input type="submit" class="btn submit" name="submit" value="Run Importer"></p>
    </form>
{% endblock %}
