{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * AEI index.twig
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("firebelly\\aei\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# The title of this CP section #}
{% set title = "AEI" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('aei') %}

{# Content that should appear in the page header#}
{% block actionButton %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit">{{ "View Logs"|t('aei') }}</a>
    </div>
{% endblock %}

{# The content of the CP Section#}
{% block content %}
    <h2>{{ "Deltek Import"|t('aei') }}</h2>
    <p class="textline">This runs every night as an automated cronjob, but you can also run it manually here.</p>
    <form method="post" id="deltek-import-form" action="/admin/actions/aei/deltek-import/import-records">
        {{ csrfInput() }}
        <div class="progress-bar"><div class="progress-done"></div></div>
        <div class="log-output">{% if import_response is defined %}{{ import_response.log }}{% endif %}
        </div>
        <ul>
            {% for section in ['Projects', 'People', 'Offices', 'Awards', 'Impact'] %}
                <li>
                    {% include "_includes/forms/checkbox" with {
                        name:      'sections-to-import[]',
                        value:     section|lower,
                        checked:   false,
                        label:     section,
                    } %}
                </li>
            {% endfor %}
        </ul>
        <p class="submit"><input type="submit" class="btn submit" name="submit" value="Run Importer"></p>
    </form>
{% endblock %}
